body {
  font-family: 'Podkova';
}

input {
  display: block;
}

.add-button {
  margin-top: 10px;
}

.contact-info {
  height: 100%;
}

.address-list {
  margin-top: 15px;
}

.address-list li {
    color: #0645AD;
}

.address-list li:hover {
    cursor: pointer;
}